:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --title-text-color-two: #ffffff;
    --accent-color: #2196f3;
    --background-color: #ffffff;
    --background-color-footer: #2f303a;
    --background-color-button: #F5F4FA;
    --background-color-button-two: #2196f3;
    --logo-color: #000000;
    --logo-color-two: #2196f3;
    --logo-color-footer: #ffffff;
    --color-button-hover: #ffffff;
}

/* Header */
/* logo*/
 a {
     text-decoration: none; /* Убирае нижнее подчеркивание */
    }
 li {
     list-style-type: none; /* Убираем маркеры */
    }   
 .logo {
     font-style: normal;
     font-family: raleway, sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
    }
.logo-header {
        color: var(--logo-color);
    }
.logo-blue {
     color: var(--logo-color-two);
    }
.link {
    color: var(--title-text-color);
}  
.link-style {
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
}
/*site-nav*/
.link:hover,
.link:focus,
.feedback-link:hover,
.feedback-link:focus,
.address-link:hover,
.address-link:focus  {
    color: var(--accent-color);
}
.sitenav .link.current {
    color: var(--accent-color);
}
.feedback-link {
    color: var(--primary-text-color);
}
/* hero */
.title {
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    font-style: normal;
}
.hero-title {
    color: var(--background-color);
    background-color: rgba(47, 48, 58, 0.8);
    font-family: roboto, sans-serif;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 3%;
}
/* section */
.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 3%;
}
/* Features */
.features-list .title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
}
.text {
    color: var(--primary-text-color);
    font-family: roboto, sans-serif;
    font-style: normal;
}
.features-list .text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
}
/* Services */
.services-list .title {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
}
/* team */
.team-list .title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3%;
}
.team-list .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 3%;
}
/* product */
.button {
    background-color: var(--background-color-button-two);
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 6%; 
}
.button-style {
    background-color: var(--background-color-button);
    color: var(--title-text-color);
    font-family: roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 3%; 
}
.button-style:hover,
.button-style:focus {
    background-color: var(--accent-color);
    color: var(--background-color-button);
}
.portfolio-product .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
} 
.portfolio-product .text {
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 3%;
} 
/* footer */
.footer {
    background-color: var(--background-color-footer);
}
.footer .title {
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 3%;
} 
.address .text {
    color: var(--title-text-color-two);
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
} 
.address-link {
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
} 
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.copyright {
    color: rgba(255, 255, 255, 0.4);
    font-family: roboto, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 3%;
} 
.logo-footer {
    color: var(--logo-color-footer);
} 