:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --accent-color: #2196f3;
    --background-color: #ffffff;
}

/*color*/
body {
    color: var(--primary-text-color);
    background-color: var(--background-color); 
}
/* Header */
/* logo*/
 a {
     text-decoration: none;     
 }
 .logo {
     color: #000000;
     font-family: Raleway; sans-serif;
     font-weight: 700;
     font-size: 26px;
     line-height: 1.19;
 }
 .logo-blue {
     color: var(--accent-color);
 }
.sitenav-link {
    color: var(--title-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
}  
/*site-nav*/
.sitenav-link:hover,
.sitenav-link:focus {
    color: var(--accent-color);
}
.feedback-link {
    color: var(--primary-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 2%;
}
.feedback-link:hover,
.feedback-link:focus {
    color: var(--accent-color);
}
/* hero */
.hero-title {
    color: var(--background-color);
    background-color: rgba(47, 48, 58, 0.8);
}
/* section */
.section-title {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: roboto; sans-serif;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 3%;
}
/* Features */
.features-list .title {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
}
.features-list .text {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
}
/* Services */
.services-list .title {
    background-color: rgba(47, 48, 58, 0.8);
    color: var(--background-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 3%;
}
/* team */
.team-list .title {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 3%;
}
.team-list .text {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 3%;
}
/* product */
.button-style {
    background-color: #F5F4FA;
    color: var(--title-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 3%; 
}
.button-style:hover,
.button-style:focus {
    color: var(--accent-color);
}
.portfolio-product .title {
    background-color: var(--background-color);
    color: var(--title-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 6%;
} 
.portfolio-product .text {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.87;
    letter-spacing: 3%;
} 
/* footer */
.footer .title {
    background-color: #2f303a;
    color: var(--background-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.14;
    letter-spacing: 3%;
} 
.address .text {
    background-color: #2f303a;
    color: var(--background-color);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
} 
.address-link {
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.6);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 3%;
} 
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
}
.copyright {
    background-color: #2F303A;
    color: rgba(255, 255, 255, 0.4);
    font-family: roboto; sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 2;
    letter-spacing: 3%;
} 
.address-link:hover,
.address-link:focus {
    color: var(--accent-color);
